@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Neue";
}

p {
  font-family: "Helvetica Neue";
  font-size: 1.38em;
  line-height: 2.1rem;
  -webkit-font-smoothing: antialiased;
}
