@use "normalize.css";

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.2em;
}

p,
li,
button {
  font-size: 1.15em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #6e66df;
}

a:hover {
  color: #a29bfe;
}

h1 {
  font-family: "Poppins", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  text-align: center;
  font-size: 2.3em;
}

button {
  border: 3px #a29bfe solid;
  padding: 10px;
  margin: 0 auto;
  display: block;
  color: #a29bfe;
  background-color: #fff;
}

button:hover {
  background-color: #a29bfe;
  color: #fff;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-wrapper {
  max-width: 750px;
  margin: 0 auto;
}
