.not-found {
  font-size: 1em;
  background-color: #a29bfe;
  min-height: 100vh;
  width: 100vw;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-container {
  color: #fff;
  max-width: 100%;
  padding: 15px;
}

.not-found a:hover {
  color: #fff;
}

@media only screen and (min-width: 1000px) {
  .not-found {
    font-size: 3em;
  }
  .not-found-container {
    color: #fff;
    max-width: 80%;
    padding: 30px;
  }
}