.about-section {
  padding: 15px;
  background-color: #fff;
  /* min-height: 51vh; */
}

/* .about-section .word-list li{
  background-color: #393E41;
  color: #F6F7EB;
} */

.underline {
  text-decoration: underline;
  color: black;
}

.blinking-cursor {
  animation: 2s blink ease-in infinite;
}

.blinking-cursor>span {
  color: #fff !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}