.title {
  font-size: 1.6rem;
  line-height: 1.3;
}

.about-section {
  padding: 15px;
  background-color: #fff;
}

.about-section .word-list li{
  background-color: #393E41;
  color: #F6F7EB;
}

@media only screen and (min-width: 1000px) {
  .title {
    margin: 40px;
  }

  .wrapper {
    max-width: 750px;
    margin: 0 auto;;
  }
}